.pc-header,l-main,.foot-app,.foot-app-inner,.foot-main,.listcardinfo{
  background-color: #454545 !important;
  color: #BBBBBB !important;
}
.pc-header-menus,.listcard-info,.commentFormWrapper{
  background-color: #606060 !important;
  color: #BBBBBB !important;
}
.post-delete,.post-time,.name{
  color: #CCCCCC !important;
}
.user-comment{
  
}
.is-showgold,.pc-header-mypage-name{
  color: #80DD90 !important;
  filter:brightness(100%) !important;
}
.pc-header-mypage-level,.pc-header-mypage-sg,.pc-header-mypage-description{
  color: #90E0B0 !important;
}
.pc-header-menu :not(.pc-header-mypage-image .is-showgold .pc-header-mypage-name .pc-header-mypage-level .pc-header-mypage-sg .pc-header-mypage-description){
  filter:brightness(60%);
}
.is-showgold{
  filter:brightness(70%) !important;
}
.pc-header-search{
  filter:brightness(90%);
}
.side-link{
  filter:saturate(70%) !important;
  color: #EEEEEE !important;
}
.commentList{
  background-color: #BBBBBB !important;
}
.header-hamburger{
  filter:invert(100%) !important;
}
.head-search-autocomplete{
  color: #303030 !important;
}